@import '../styleVariables.scss';

.closeButton {
  background: none;
  border: solid 1px transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  &:hover {
    border-color: black;
  }
}
