@import '../styleVariables.scss';

.purchaseOptions {
  font-size: .8rem;
}

.selectOptions {
  margin-bottom: 1.5rem;
}

.selectOption {
  display: flex;
  align-items: stretch;
  margin-bottom: 1rem;
}

.radioButton {
  flex: 0 0 auto;
  display: block;
  width: 30px;
  height: 30px;

  @media #{$notMobile} {
    width: 40px;
    height: 40px;
  }
}

.purchaseOptionsLabel {
  flex: 1 1 auto;
  display: flex;
  margin-left: .5rem;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: .8rem;

  @media #{$notMobile} {
    font-size: .9rem;
  }
}

.purchaseTypeLabel {
  color: #aa00aa;
}

.purchaseTypePrice {
  font-weight: bold;
}

.formButtons {
  display: flex;
  align-items: stretch;
  font-size: .7rem;

  button {
    font-size: inherit;
  }
}

.quantitySelector {
  flex: 0 0 auto;
  @include brightButton();
  height: 2rem;
  margin: 0 .5rem 0 0;
  padding: 0;
  text-align: center;

  @media #{$notMobile} {
    height: 3rem;
    margin-right: 1rem;
  }

  button {
    background: none;
    height: 100%;
    margin: 0;
    border: none;
    border-left: solid 1px white;
    border-right: solid 1px white;
    padding: 0 .75rem;

    @media #{$notMobile} {
      padding: 0 1rem;
    }
  };

  > span {
    min-width: 1.5rem;
  }
}

.plusminus {
  vertical-align: middle;
  display: inline-block;
  height: 1em;
  width: 1em;
}

.submitButton {
  flex: 0 0 auto;
  @include brightButton();
  margin: 0;
  border: none;
  width: 9.375rem;
  height: 2rem;

  @media #{$notMobile} {
    flex-grow: 1;
    height: 3rem;
    max-width: 15rem;
  }
}
